<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Testapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class='container-fluid'>
      <%= render 'shared/nav' %>
    </div>
  </nav>
  <div class='menu_right'>
  <%= link_to 'New Post', new_post_path %>
  </div>
  <h1 class="posts_title"> Posts </h1>
  <div class="row padding: 5px">
  <%= yield %>
  </div>
  <div class='menu_right'>
  <%= link_to 'BacK', root_path %>
  </div>
</body>
</html>
